<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div class="container">
    <form class="form" method="POST" enctype="multipart/form-data" action="/">
		<div class="form-group">
			<input class="form-controll" type="file" name="file"/>
		</div>
        <div class="btn-group">
            <input class="btn btn-success" type="submit" value="Upload"/>
        </div>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>

</body>
</html>
